一、填空题<br>

<ol>
    <% topic.forEach(function(item){ %>
        <li>
            <%= item.question%>
            <% item.options.forEach(function(element,i){ %>
                <input type="text" name="<%= item.name%>" value="<%= item.value[i]%>">、
            <%})%>
        </li>
    <%})%>
</ol>
