<header>
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <h3>统一建模语言理论测试</h3>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="">科目:
                    </label>
                    统一建模语言UML
                </div>
                <div class="col-md-4 form-group">
                    <label for="">时间:
                    </label>
                    100分钟
                </div>
                <div class="col-md-4 form-group">
                    <label for="">得分:
                    </label>
                    <span class="text-danger"><%= userData.score%></span>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label for="stuClass">班级:
                    </label>
                    <input id="stuClass" class="form-control" name="stuClass" type="text" value="<%= user.stuClass%>"></div>
                <div class="col-md-4 form-group">
                    <label for="stuId">学号:
                    </label>
                    <input id="stuId" name="stuId" class="form-control" type="text" value="<%= user.stuId%>"></div>
                <div class="col-md-4 form-group">
                    <label for="stuName">姓名:
                    </label>
                    <input id="stuName" name="stuName" class="form-control" type="text" value="<%= user.stuName%>"></div>
            </div>
        </div>
    </div>

</header>
