五、简答题(每题4分,共20分)
<br>
<ol>
    <% topic.forEach(function(item){ %>
        <li>
            <%= item.question%><br>
            <textarea name="<%= item.name%>" rows="8" cols="40"><%= item.value%></textarea><br>
        </li>
    <%})%>
</ol>
