四、判断题
<br>
<ol>
    <% topic.forEach(function(item){ %>
        <li>
            <%= item.question%><br>
            <% item.options.forEach(function(element,i){ %>
                <input type="radio" name="<%= item.name%>" value="<%= element.key%>"><%= element.val%><br>
            <%})%>
        </li>
    <%})%>
</ol>
