<div class="panel panel-default">
    <div class="panel-heading">四、判断题</div>
    <div class="panel-body">
        <ol>
            <% topic.forEach(function(item){ %>
                <li>
                    <%= item.question%><br>
                    <% item.options.forEach(function(element,i){ %>
                        <input type="radio" name="<%= item.name%>" value="<%= element.key%>"
                        <% if(item.value===element.key){ %> checked="checked" <% } %>><%= element.val%>
                    <%})%>
                </li><br>
            <%})%>
        </ol>
    </div>
</div>
