<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form class="" action="/" method="post">
        <input type="text" name="questionOne" value="">
        <button type="submit" value="提交">提交</button>
    </form>
</body>
</html>
