<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    西安软件服务外包学院
    <br>
    统一建模语言理论测试
    <br>
    <form class="" action="/" method="post">
        考试科目: <input type="text" name="subject" value="统 一 建 模 语 言 UML" disabled="disabled">
        时间: <input type="text" name="time" value="100分钟" disabled="disabled">
        得分: <input type="text" name="score" value="0" disabled="disabled">
        <br>
        班级: <input type="text" name="stuClass" value="">
        学号: <input type="text" name="stuId" value="">
        姓名: <input type="text" name="stuName" value="">
        <br>
        一、填空题
        <br>
        1. UML 的中文全称是:<input type="text" name="questionOne" value=""><br>
        2. 对象最突出的特征是:<input type="text" name="questionTwo" value=""><br>
        二、选择题
        <br>
        1.UML 与软件工程的关系是. <br>
        <input type="radio" name="questionThree" value="A">(A)UML 就是软件工程 <br>
        <input type="radio" name="questionThree" value="B">(B)UML 参与到软件工程中软件开发过程的几个阶段 <br>
        <input type="radio" name="questionThree" value="C">(C)UML 与软件工程无关 <br>
        <input type="radio" name="questionThree" value="D">(D)UML 是软件工程的一部分 <br>
        2.Java 语言支持. <br>
        <input type="radio" name="questionFour" value="A">(A)单继承 <br>
        <input type="radio" name="questionFour" value="B">(B)多继承 <br>
        <input type="radio" name="questionFour" value="C">(C)单继承和多继承都支持 <br>
        <input type="radio" name="questionFour" value="D">(D)单继承和多继承都不支持 <br>
        三、多选题
        <br>
        1. 用例的粒度分为以下哪三种。 <br>
        <input type="checkbox" name="questionFive" value="A">(A)概述级 <br>
        <input type="checkbox" name="questionFive" value="B">(B)需求级 <br>
        <input type="checkbox" name="questionFive" value="C">(C)用户目标级 <br>
        <input type="checkbox" name="questionFive" value="D">(D)子功能级 <br>
        2. 类图由以下哪三部分组成。 <br>
        <input type="checkbox" name="questionSix" value="A">(A)名称(Name) <br>
        <input type="checkbox" name="questionSix" value="B">(B)属性(Attribute) <br>
        <input type="checkbox" name="questionSix" value="C">(C)操作(Operation) <br>
        <input type="checkbox" name="questionSix" value="D">(D)方法(Function) <br>
        四、判断题
        <br>
        1. 用例图只是用于和客户交流和沟通的,用于确定需求。
        <input type="radio" name="questionSeven" value="true">正确
        <input type="radio" name="questionSeven" value="false">错误 <br>
        2. 在状态图中,终止状态在一个状态图中允许有任意多个。
        <input type="radio" name="questionEight" value="true">正确
        <input type="radio" name="questionEight" value="false">错误 <br>
        五、简答题(每题4分,共20分)
        <br>
        1. 简述什么是模型以及模型的表现形式? <br>
        <textarea name="questionNine" rows="8" cols="40"></textarea><br>
        <button type="submit">提交</button>
    </form>
</body>
</html>
