<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="./bootstrap/dist/css/bootstrap.css"></script>
    <script type="text/javascript" src="./jquery/dist/jquery.js"></script>
</head>
<body>
